<nav class="todo-nav">
    <h3 class="todo-nav-title">Category</h3>
    <ul class="todo-nav-cat">
        <li class="todo-nav-cat-item"><a href="/" class="todo-nav-cat-link today active">Today</a></li>
        <li class="todo-nav-cat-item"><a href="/home" class="todo-nav-cat-link home">Home</a></li>
        <li class="todo-nav-cat-item"><a href="/work" class="todo-nav-cat-link work">Work</a></li>
        <!-- <li><a href="/friends">Friends</a></li> -->
    </ul>
</nav>